/**
 * ========================================
 * COMMON CLASSES
 * ========================================
 */
 .lead {
	position: relative;
	font-size: 20px;
	line-height: inherit;
	font-style: italic;
	font-weight: normal;
	padding: 10px 0 25px;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		height: 2px;
		width: 80px;
		background-color: rgba(0,0,0,0.1);
	}
	&.text-center {
		&:after {
			left: 50%;
			margin-left: -40px;
		}
	}
}
.section-dark .lead:after,
.section-accent .lead:after {
	background-color: rgba(255,255,255,0.2);
}
.icon-list {
	list-style: none;
	padding: 0;
	li {
		position: relative;
		padding: 20px 0 20px 95px;
	}
}
.icon-list-icon {
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px 0 0 0;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	font-size: 32px;
	line-height: 70px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	&:not(.fa) {
		font-family: "Montserrat", sans-serif;
		font-weight: bold;
	}
}
.section-accent {
	.icon-list-icon {
		background-color: #444;
	}
}
.icon-list-title {
	margin: 0 0 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.nice-list {
	list-style: none;
	padding: 0;
	li {
		position: relative;
		padding: 8px 0 8px 40px;
		&:before {
			content: "\f105";
			position: absolute;
			top: 0;
			left: 0;
			margin: 10px 0 0 10px;
			font-family: "FontAwesome";
			font-size: 20px;
			line-height: 1;
			opacity: 0.5;
		}
	}
}
.clear {
	clear: both;
}
.wait-animation {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.fa-ul {
	margin-left: 40px;
	li {
		padding: 5px 0;
	}
}
.fa-li {
	top: 10px;
	left: -40px;
	width: 30px;
	font-size: 16px;
	line-height: 1;
	opacity: 0.5;
	text-align: center;
}
.countdown {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.countdown-grid {
	display: table-cell;
	text-align: center;
	padding: 0 10px;
	& > * {
		display: block;
	}
}
.countdown-number {
	font-size: 60px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 10px;
}
.countdown-label {
	font-size: 13px;
	line-height: 1;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
