/**
 * ========================================
 * GENERAL STYLES
 * ========================================
 */
html {
	height: 100% !important;
}
body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 1.715;
	background-color: #fff;
	color: #666;
	overflow-x: hidden;
	max-width: 100%;
}
address {
	font-size: inherit;
	line-height: inherit;
}
*:last-child {
	margin-bottom: 0;
}
a {
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
	font-weight: bold;
}
a:focus, a:hover {
	text-decoration: none;
	outline: 0;
}
.section-accent {
	a {
		color: #444;
	}
}
.section-accent a:focus, .section-accent a:hover {
	color: #222;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: #222;
	margin-bottom: 25px;
	line-height: 1.715;
}
.section-dark h1, .section-dark .h1,
.section-dark h2, .section-dark .h2,
.section-dark h3, .section-dark .h3,
.section-dark h4, .section-dark .h4,
.section-dark h5, .section-dark .h5,
.section-dark h6, .section-dark .h6 {
	color: #fff;
}
.section-accent h1, .section-accent .h1,
.section-accent h2, .section-accent .h2,
.section-accent h3, .section-accent .h3,
.section-accent h4, .section-accent .h4,
.section-accent h5, .section-accent .h5,
.section-accent h6, .section-accent .h6 {
	color: #fff;
}
img {
	max-width: 100%;
	height: auto;
}
p, ul, ol, address {
	margin-bottom: 25px;
}
iframe {
	max-width: 100%;
	border: none;
}
